.selected {
  --keyboard--selected--margin: 2px;
  margin: var(--keyboard--selected--margin);
}

.selected::after {
  position: absolute;
  border-radius: inherit;
  content: "";
  position: absolute;
  inset: calc(-1 * var(--keyboard--selected--margin));
  border: calc(1px + var(--keyboard--selected--margin)) dashed #e03fab;
  box-sizing: border-box;
}
