<div class="Button {color} {select=="1"?"select":""}" test="{select}" on:click="fire('click', {color})"><span>{label}</span></div>

<style>
  .Button {
    display: flex;
    flex: 1;
    width: 0;
    height: 38px;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
    font: 400 13.3333px Arial;
  }
  .Button span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 7px 16px 8px;
    margin: auto;
  }

  .select{
    font-weight: 700;
  }

  .add{
    border: 1px solid #d1d5da;
  }

  .primary {
    background: #5181b8;
    color: #fff;
  }
  .primary:hover {
    background: #5b88bd;
  }
  .primary:active {
    background: #4872a3;
  }

  .default {
    background: #e5ebf1;
    color: #55677d;
  }
  .default:hover {
    background: #dfe6ed;
  }
  .default:active {
    background: #dae2ea;
  }

  .negative {
    background: #e64646;
    color: #fff;
  }
  .negative:hover {
    background: #eb5050;
  }
  .negative:active {
    background: #db3b3b;
  }

  .positive {
    background: #4bb34b;
    color: #fff;
  }
  .positive:hover {
    background: #51b851;
  }
  .positive:active {
    background: #43a843;
  }
</style>

<script>
	export default {
	  data() {
	    return {
	      select: "0"
	    };
	  }
	};
</script>